

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;

}

.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: white;

}

.main {
    background-color: white;
    height: 100vh;
}
.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 30px 10px;
}

.logo-text h1 {
    margin-left: 30px;
}

.icon_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px 20px 10px;
    color: white;
}

.icon_text p {
    margin-left: 30px;
    font-size: 20px;
}

.list_items_bottom {
    margin-top: 50px;
}

/* MAIN */

.main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 17% 83%;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
    justify-content: space-between;
}



.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
    justify-content: space-between;

}

.form_input {
    width: 500px;
    background-color: #d4d4d4;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    margin-left: 20px;
    margin-right: 200px;
}

.avatarNavbar, .avatarWelcome {
    margin: 0 30px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;

}

.btn {
    background-color: #0ea5e9;
    border-radius: 20px;
    width: 90px;
    height: 35px;
    color: white;
    border: 1px solid #0ea5e9;
}


.content {
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 70% 30%;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    background-color: white;
    border-left: 10px solid #facc15;
    border-radius: 10px;
    height: 200px;
    width: 80%;
    margin: 30px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}

h6 {
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #737373;
    margin: 10px;
}

h4 {
    margin: 20px 0 0 25px;
}

.annoucements_trend {
    display: grid;
    grid-template-rows: 50% 50%;

}

.ann_card, .trend_card {
    height: 75%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.annouce_text {
    padding: 10px 10px;
}

.annouce_text h6, .trend-text h5{
    font-size: 16px;
}

.annouce_text p, .trend-text p{
    font-size: 12px;
    color: #737373;
}

.divider {
    border: 0.5px solid #737373;
    width: 95%;
    margin-left: 0.5rem;
    opacity: 50%;
}



.trend_image_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 20px;
    padding: 13px 0px;

}

.trend-text {
    margin-left: 20px;
}

.trending h4, .announcements h4 {
    margin: 20px 0 30px 0;
}

